<div>
  <div id="logo-root"
       data-logo-path="<%= image_path('logo4.png') %>">
  </div>
  <div id="navbar-root"
       data-spaces-areas="<%= @spaces_areas.to_json %>"
       data-stores-areas="<%= @stores_areas.to_json %>">
  </div>
  <div id="spaces-list-root" data-spaces="<%= @spaces.to_json %>" data-title="<%= @filter_value %>"></div>
  <div id="footer-root"
       data-instagram-image-path="<%= image_path('instagram_logo.png') %>">
  </div>
</div>
